{% extends "base.html" %}
{% block title %}Problems{% endblock %}
{% block headscripts %}
    <script type="text/javascript">
        var problemlist = JSON.parse({{ problems|tojson }});
        var checklist = JSON.parse({{ checklist|tojson }});
        var problemcases = JSON.parse({{ problemcases|tojson }});
        var allowEditing = true;
    </script>
{% endblock %}
{% block content %}
    <br/>
    <h1 style="text-align:center;">Problems</h1>
    <br/>

    <div class="input-group">
        <div class="input-group-prepend">
            <a href="/view/{{ user.extras.unique_key }}">
                <button class="btn btn-outline-secondary" type="button" style="border-top-right-radius: 0;border-bottom-right-radius: 0;">View</button>
            </a>
        </div>
        <input type="text" class="form-control" readonly="" id="static-link" aria-describedby="what" value="usacochecklist.pythonanywhere.com/view/{{ user.extras.unique_key }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="copylink()">Copy</button>
        </div>
    </div>
    <small>&nbsp;&nbsp;Use the above link to share a static version of your checklist.</small>

    <div class="row justify-content-start" style="margin-left: 0;margin-top: 30px;">
        <div class="btn-group">
            <button class="btn btn-secondary active" onclick="display(0)" id="b0">
                Platinum
            </button>
            <button class="btn btn-secondary" onclick="display(1)" id="b1">
                Gold
            </button>
            <button class="btn btn-secondary" onclick="display(2)" id="b2">
                Silver
            </button>
            <button class="btn btn-secondary" onclick="display(3)" id="b3">
                Bronze
            </button>
        </div>
    </div>
    <br/>

    <table class="table table-bordered" id="problems">
        <col style="width: 15%;"/>
        <tbody class="problemlist"></tbody>
    </table>

{% endblock %}
{% block tailscripts %}
    <script>display(0)</script>
{% endblock %}

