{% extends "base.html" %}
{% block title %}Problems{% endblock %}
{% block headscripts %}
    <script type="text/javascript">
        var problemlist = JSON.parse({{ problems|tojson }});
        var checklist = JSON.parse({{ checklist|tojson }})
    </script>
{% endblock %}
{% block content %}
    <br/>
    <h1 style="text-align:center;">Problems</h1>
    <div class="row justify-content-start" style="margin-left: 0;margin-top: 30px;">
        <div class="btn-group">
            <button class="btn btn-secondary active" onclick="display(0)" id="b0">
                Platinum
            </button>
            <button class="btn btn-secondary" onclick="display(1)" id="b1">
                Gold
            </button>
            <button class="btn btn-secondary" onclick="display(2)" id="b2">
                Silver
            </button>
            <button class="btn btn-secondary" onclick="display(3)" id="b3">
                Bronze
            </button>
        </div>
    </div>
    <br/>
    <div class="wrapper">
        <table class="table table-bordered sortable fixed" id="problems">
            <col style="width: 15%;"/>
            <tr>
                <th style="user-select:none;">Contest</th>
                <th colspan="4" style="user-select:none;">Name</th>
            </tr>
            <tbody class="problemlist"></tbody>
        </table>
    </div>
{% endblock %}
{% block tailscripts %}
    <script>display(0)</script>
{% endblock %}

