td.completed {
    background-color: #c3e6cb;
}

td.solved {
    background-color: #bee5eb;
}

td.attempted {
    background-color: #ffeeba;
}

.problem-container {
    display: flex;
    justify-content: space-between;
}

.case-info {

}

.case {
    width: 20px;
    height: 20px;
    display: inline-grid;
    margin: 1px;
}

.case-correct {
    background-color: #EEFFEE;
    border: 1px solid #339933;
    color: #339933;
}

.case-incorrect {
    background-color: #FFE2E2;
    border: 1px solid #993333;
    color: #993333;
}

.case > div {
    text-align: center;
    font-size: small;
}

